<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.gmall.pms.mapper.ProductSaleAttrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ww.gmall.pms.bean.ProductSaleAttr">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="sale_attr_id" property="saleAttrId"/>
        <result column="sale_attr_name" property="saleAttrName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, sale_attr_id, sale_attr_name
    </sql>

    <select id="productSaleAttrListCheckBySku" resultMap="productSaleAttrListCheckBySkuMap">
        SELECT
	p.id as sa_id, v.id as v_id,p.*,v.* ,
    IF (s.sku_id, 1, 0) AS isChecked
FROM
	pms_product_sale_attr p
INNER JOIN pms_product_sale_attr_value v ON p.product_id = v.product_id
AND p.sale_attr_id = v.sale_attr_id
AND p.product_id = #{productId}
LEFT JOIN pms_sku_sale_attr_value s ON v.id = s.sale_attr_value_id
AND s.sku_id = #{skuId}
    </select>
    <resultMap id="productSaleAttrListCheckBySkuMap" type="com.ww.gmall.pms.bean.ProductSaleAttr" autoMapping="true">
        <id column="sa_id" property="id"/>
        <collection property="spuSaleAttrValueList" ofType="com.ww.gmall.pms.bean.ProductSaleAttrValue" autoMapping="true">
            <result column="v_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>
